{% if S_BBCODE_ALLOWED %}
	<script>
		var rbbLang = {
			img: '{{ lang("RBB_IMG")|addslashes }}',
			url: '{{ lang("RBB_URL")|addslashes }}',
			urlText: '{{ lang("RBB_URL_TEXT")|addslashes }}',
			media: '{{ lang("RBB_MEDIA")|addslashes }}',
			spoilerText: '{{ lang("RBB_SPOILER_TEXT")|addslashes }}',
			quoteAuthor: '{{ lang("RBB_QUOTE_AUTHOR")|addslashes }}',
			listMarker: '{{ lang("RBB_LIST_MARKER")|addslashes }}',
			flashSize: '{{ lang("RBB_FLASH_SIZE")|addslashes }}',
			//
			black: '{{ lang("RBB_BLACK")|addslashes }}',
			white: '{{ lang("RBB_WHITE")|addslashes }}',
			red: '{{ lang("RBB_RED")|addslashes }}',
			green: '{{ lang("RBB_GREEN")|addslashes }}',
			blue: '{{ lang("RBB_BLUE")|addslashes }}',
			teal: '{{ lang("RBB_TEAL")|addslashes }}',
			grey: '{{ lang("RBB_GREY")|addslashes }}',
			orange: '{{ lang("RBB_ORANGE")|addslashes }}',
			yellow: '{{ lang("RBB_YELLOW")|addslashes }}',
			pink: '{{ lang("RBB_PINK")|addslashes }}',
			purple: '{{ lang("RBB_PURPLE")|addslashes }}',
			customColor: '{{ lang("RBB_CUSTOM_COLOR")|addslashes }}',
			addNew: '{{ lang("RBB_ADD_NEW")|addslashes }}'
		};

		var rbbSettings = {
			abbc3: {% if S_RBB_IS_ABBC3 %}true{% else %}false{% endif %},
			clipboardimage: {% if S_RBB_IS_CLIPBOARDIMAGE %}true{% else %}false{% endif %}
		};

		{% if S_QR_SHOW_ATTACH_BOX %}
			var qr_attach_visible = qr_attach_notice_visible = true;
			
			$(document).ready(function() {
				$('#attach-panel').hide();
			});

			$('#qr_postform').on('qr_set_extended_before', function(){
				qr_attach_visible = ($('#attach-panel').css('display') != 'none');
				qr_attach_notice_visible = ($('#qr_attach_notice').css('display') != 'none');
			});

			$('#qr_postform').on('qr_set_extended_after', function(){
				if (!qr_attach_visible && !qr_attach_notice_visible) {
					$('#attach-panel').hide();
					qr_attach_visible = qr_attach_notice_visible = true;
				}
			});

			if (quickreply.settings.formType === 0) {
				$(document).on('click', '#format-buttons .bbcode-file, #abbc3_buttons .bbcode-file', function(e) {
					$(document).find('#attach-panel').show();
				});
			}
		{% endif %}

		{% if S_QR_SHOW_ATTACH_BOX or (S_SHOW_ATTACH_BOX and FILTERS) %}
			$('.submit-buttons input.button1').click(function() {
				if ($('#message').val().length < {{ RBB_MIN_POST_CHARS }}) {
					$('#attach-panel').find('.file-inline-bbcode').first().click();
				}
			});
		{% endif %}
	</script>
	
	
	{% INCLUDEJS '@tatiana5_reformedbbcodes/reformedbbcodes.js' %}
{% endif %}
